.container-fluid
  %h3#filter_title Refine Your Search
  %table#filter_table.table.table-hover.table-condensed
    %tr
      %th#filter_subtitle Star Rating
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} All
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
          %span.glyphicon.glyphicon-star.glyphicon-large
          %span.glyphicon.glyphicon-star.glyphicon-large
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
          %span.glyphicon.glyphicon-star.glyphicon-large

    %tr
      %th#filter_subtitle Type
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} All
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Hotels
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Hostels
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Resorts
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Apartments

    %tr
      %th#filter_subtitle Facilities
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} All
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Wi-Fi
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Parking
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Fitness
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Flat-screen TV

    %tr
      %th#filter_subtitle Theme
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} All
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Beach / Coast
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Romance / Honeymoon
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Spa / Relaxation
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Family

    %tr
      %th#filter_subtitle Provider
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} All
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} Sol Mélia
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} HUSA
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} H10
	  
