// Temporary workaround for Rails 4.1.2 pending releaase of bootstrap-sass 3.1.2
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
//= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"

$brand-primary: rgb(0, 153, 255);
$link-color: $brand-primary;

@import "bootstrap";

a,.text-info:hover {
	color: $brand-primary;
  }
  
a:active,a:hover{
	outline:0
}

a:active, a:hover {
    outline: 0px none;
        outline-width: 0px;
        outline-style: none;
        outline-color: -moz-use-text-color;
}        

a:hover{
	text-decoration: underline;
}

 

.text-info {
  color: #000000;
  font-weight: bold;
}

.btn{
  font-weight: bold;
  border: 1px solid rgb(221, 221, 221);
  font-family: Helvetica,Arial,sans-serif;
  border-radius: 2px;	
} 

.btn-info{
  color: rgb(255, 255, 255);
  white-space: nowrap;
  background-color: rgb(0, 187, 255);
  border-color: rgb(0, 187, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.btn-info:hover{
	color:#fff;
	text-decoration: none;
}

.hotel{
    color: rgb(77, 77, 77);
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  
  }
  
.navbar-nav{
  display: inline-block;

}  

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  // background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.gray {
  color: #bfbfbf; 
  }

.glyphicon-large {
   font-size: small;
  }
  
.glyphicon-small{
   font-size: x-small;
}  

//For change view of breadcrumb located in header

#breadcrumb{
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(249,249,249);
}

#posicion{
  display: inline;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}


#nombre{
  margin-top: 0px;
}



