.container-fluid
  %h3 Filter by
  %table.table.table-hover.table-condensed
    %tr
      %th Star Rating
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""} Show all
      %td 9
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 5 stars
      %td 1
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 4 stars
      %td 5
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 3 stars
      %td 7
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 2 stars
      %td 10
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"} 1 stars
      %td 5

    %tr
      %th Hotel Type
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""}
            %small Show all
      %td
        %small 9
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Hotels
      %td
        %small 1
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Hostels
      %td
        %small 5
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Resorts
      %td
        %small 3
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Apartments
      %td
        %small 3

    %tr
      %th Facility
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""}
            %small Show all
      %td
        %small 20
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Wi-Fi
      %td
        %small 9
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Parking
      %td
        %small 1
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Fitness
      %td
        %small 5
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Flat-screen TV
      %td
        %small 3

    %tr
      %th Hotel Theme
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""}
            %small Show all
      %td
        %small 20
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Beach / Coast
      %td
        %small 9
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Romance / Honeymoon
      %td
        %small 1
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Spa / Relaxation
      %td
        %small 5
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Family
      %td
        %small 3


    %tr
      %th Chain
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox", :checked =>""}
            %small Show all
      %td
        %small 20
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Sol Mélia
      %td
        %small 9
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small Memories
      %td
        %small 1
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small HUSA
      %td
        %small 5
    %tr
      %td
        %label.checkbox
          %input{:type => "checkbox"}
            %small H10
      %td
        %small 3


