.container-fluid#filters
 #filter_header
  #filter_title Refine Your Search

 #filter_details
  %table.table.table-hover.table-condensed
   %tr
    %th#filter_subtitle.active Star Rating
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox", :checked =>""} All
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"}
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"}
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} 
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"}
      %span.glyphicon.glyphicon-star.glyphicon-large
      %span.glyphicon.glyphicon-star.glyphicon-large
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"}
      %span.glyphicon.glyphicon-star.glyphicon-large

   %tr
    %th#filter_subtitle.active Type
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox", :checked =>""} All
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} Hotels
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} Hostels
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} Resorts
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} Apartments

   %tr
    %th#filter_subtitle.active Facilities
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox", :checked =>""} All
   %tr
    %td
     %label.checkbox
      %input{:type => "checkbox"} Wi-Fi
