.row{:itemscope => "", :itemtype => "http://schema.org/Product"}
  .col-sm-3
    = render  'thumbnails', hotel: hotel
  .col-sm-7
    = render 'item_info', hotel: hotel
    =# render template: 'rooms/index', locals: { hotel: hotel }     
  .col-sm-2
    = render 'rating', hotel: hotel   
    = render 'base_price', hotel: hotel     
    
