.btn-group.visible-desktop
  %a.btn{:href => "#"}
    %span.glyphicon.glyphicon-th-large
  %a.btn{:href => "#"}
    %span.glyphicon.glyphicon-th
  %a.btn{:href => "#"}
    %span.glyphicon.glyphicon-th-list
