.btn-group.hidden-phone
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Recommended
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Stars
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Location
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Price
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
  %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Review score
    %span.caret
  %ul.dropdown-menu
    %li A
    %li B
