
- rating = hotel['tripAdvisorRating'].to_i
- 1.upto(rating) do
  %span.glyphicon.glyphicon-certificate.glyphicon-large
- 5.downto(rating +1) do
  %span.glyphicon.glyphicon-certificate.glyphicon-large.gray

%div.center-block
  %a
    %normal.count= hotel['tripAdvisorReviewCount']
    Reviews

