- rating = hotel['tripAdvisorRating'].to_i
- 1.upto(rating) do
  %span.glyphicon.glyphicon-certificate.glyphicon-large
- 5.downto(rating +1) do
  %span.glyphicon.glyphicon-certificate.glyphicon-large.white
%br/
%div
  %a.text-info
    Very good, #{rating}/5
  %p
    Score from
    %strong.count= hotel['tripAdvisorReviewCount']
    reviews
