.container#box
 .row
  #message.col-sm-2
   %label#title Search for hotel only
   #dividerh 
  
  #inputs.col-sm-10      
   = form_tag("/hotels", method: "get") do
    .row.col-sm-12{style: "padding-right: 0px;"}
     .col-sm-4
      %span.col-sm-3 Check In    
      .input-group.date
       %input#datepicker1.form-control{placeholder: "mm/dd/yyyy", type: "text"}/
       %span.input-group-addon
        %span.glyphicon.glyphicon-calendar 
        
     .col-sm-4
      %span.col-sm-4 Check Out    
      .input-group.date
       %input#datepicker2.form-control{placeholder: "mm/dd/yyyy", type: "text"}/
       %span.input-group-addon
        %span.glyphicon.glyphicon-calendar      

     .col-sm-4      
      .input-group
       %input#opciones_1.col-sm-2{ name: "opciones", type: "text", placeholder: "Adult"}/
       %input#opciones_2.col-sm-2.col-sm-offset-1{ name: "opciones", type: "text", placeholder: "Child"}/
       %input#opciones_3.col-sm-2.col-sm-offset-1{ name: "opciones", type: "text", placeholder: "Infant"}/           
       %input#opciones_4.col-sm-2.col-sm-offset-1{ name: "opciones", type: "text", placeholder: "Room"}/       
    


   
