
- hotel_json city: 'Syracuse', state: 'NY', contry: 'US'

.container-fluid
 = render 'search_box'

.container-fluid
 .row
  .col-sm-2
   = render  'filter'
  .col-sm-10
   - @hotels.each do |hotel|      
    = render 'item', hotel: hotel          
 

